.img-fluid { 
    border-radius: 1rem 0 0 1rem; 
    width: 100%; 
    height: auto; 
    max-width: 500px;
    padding-top: 15px;
}

body {
    background-color: rgb(182, 233, 182);
}

button {
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background: #d83f45;
    font-size: 14px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    padding-top: 20px;
}

a.button {
    box-sizing: border-box;
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background: #000;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: white;
}

a.google {
    background: #4787ed;
}

button:hover {
    background-color: #c83f45;
}

h1 {
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    font-size: 24px;
    font-weight: 500;
}

h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #b83f45;
}

form .row {
    margin: 0 0 20px 0;
    position: relative; /* for password toggle positioning */
}

label {
    display: block;
    margin: 0 0 3px 0;
    font-size: 14px;
    font-weight: 500;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input:focus {
    border-color: #b83f45;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(184, 63, 69, .25);
}
