.meme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
body {
  padding-top: 25px;
}

.visited-row td {
  background-color: rgb(214, 242, 214);
}